.DS_Store
test-examples/local-test/
test-examples/build-local/
test-examples/c/build/
test-examples/cpp/build/
test-examples/csharp/build/
test-examples/javascript/build/
test-examples/executable/build/

# Flipstarter directories (keep local only)
flipstarter-backend/
flipstarter-frontend/
